.hlsClearButton {
    background-color: transparent;
    border: 0.1rem solid #606c76;
    color: #606c76;
    border-radius: .4rem;        
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    height: 2.8rem;
    letter-spacing: .1rem;
    line-height: 2.8rem;
    padding: 0 2.0rem;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    white-space: nowrap;    
    position: absolute;
    bottom: 5px;
}

.hlsTitle {
    color: #606c76;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    border-bottom: 1px solid #606c76;    
    position: absolute;
    top: 5px;
    height: 2.8rem;
}

.hlsDisabled {
    opacity: 0.65; 
    cursor: not-allowed !important;
}

#hlsLinks {
    text-align:left; height: 30%; overflow-y: auto;
}

#hlsLinks > a {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; cursor: pointer; text-decoration: underline;
}

#hlsPopup {
    width:350px;height:100px;text-align:left;position:relative;
}

.hlsProcessClass {
    border: 0.1rem solid #606c76;
    color: #606c76;
    border-radius: .4rem;  
    margin-top: 15px;
}

#hlsProcess {  height: 65%; overflow-x: auto; }

#hlsProcess > p { color: #606c76; font-weight: 300; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 1.2rem; margin-left: 10px;}

#hlsProcess > span {
    margin-left: 20px;line-height:20px;
}

#hlsProcess > span > img { height:20px;}